html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

p:not(:last-child) {
  margin-bottom: 0.875rem;
}

ol,
ul {
  margin-left: 1rem;
}

ol {
  list-style-type: disc;
}
.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 16px;
  margin-left: 0px;
  font-size: inherit;
  gap: 2px;
}
.pagination .page-num {
  padding: 8px 0.5rem;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
}
.pagination .page-num:hover {
  background-color: #5ab1bb;
  color: #fff;
}
.pagination .active {
  background-color: #5ab1bb;
}
